
@import "variables.less";
@import "mixins.less";
@font-face {
	font-family: "Montserrat";
	src: url('../vendor/fonts/Montserrat-Regular.ttf');
}
html{
	overflow-x: hidden;
	/* &::-webkit-scrollbar { 
		display: none; 
	} */
}
body {
	margin:0;
	padding: 0;
	font-family:  'Lato', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	//max-width:100vw;
}

p {
	font-size: 20px;
}

p.small {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	color: @theme-main-color;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

/* ---------------------------------------------header-------------------------------------- */
header {

	position :relative;
	display: block;
	background-image: url("../img/fond2.png");
	background-repeat: no-repeat;
	background-color:#d4d4d4;
	background-position: top center;
	background-size:cover;
	text-align: center;
	color: white;
	width: 100vw;
	height: auto;
	min-height:800px; 
	// smoke
	canvas{
		position :absolute;
		margin-top:10rem;
		left:0rem;
		opacity:.4;
		transform:rotate(80deg);
	}
	#motionPath .motion-path, #motionPath2 .motion-path{
		transform:scale(3);
		position: absolute;
		
		.bird svg{
			opacity:.4;
			transform:scale(.2);
		}


	}
	#motionPath3 .motion-path {
		transform:scale(2);
		position:absolute;
		
		.bird svg{
			opacity:.2;
			transform:scale(.18);
		}

	} 


	.container {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	img {

		display: block;
		margin: 0 auto 20px;
	}
	.intro-text {

		.name {
			//position: absolute;
			color:@gray-lighter;
			display: block;
			font-family: "Montserrat", "Lato", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.5em;
		}
		.skills {
			font-size: 1.25em;
			font-weight: 300;
			color:white;
		}
	}
}

@media(min-width:768px) {
	header {

		.container {
			padding-top: 200px;
			padding-bottom: 100px;
			
		}
		.intro-text {
			.name {
				font-size: 3em;
			}
			.skills {
				font-size: 1.75em;
			}
		}
	}
}
@media(max-width:768px) {
	html{overflow-x: hidden;&::-webkit-scrollbar { 
		display: none; 
		}}
		header {

			.container {
				padding-top: 200px;
				padding-bottom: 100px;

			}
			.intro-text {
				.name {
					font-size: 3em;
				}
				.skills {
					font-size: 1.75em;
				}
			}
		}
		footer{
			.list-inline{
			//position: absolute;
			padding-bottom:0rem;
		}
		
	}
}
/* ---------------------------------------------navbar------------------------------------- */


.navbar-custom {
	background-color: transparent;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	-webkit-transition: all 1s ease-in;  
	-moz-transition: all 1s ease-in; 
	-o-transition: all 1s ease-in;  
	transition: all 1s ease-in;  
	
	a:focus {
		outline: none;
	}
		//top page
		.navbar-brand {
			color: white;
			&:hover,
			&:focus,
			&:active,
			&.active {
				color: white;
			}
		}
		.navbar-nav {
			
			letter-spacing: 3px;
			li {
				a {
					color: white;
					&:hover {
						color: @theme-success;
						outline: none;
					}
					&:focus,
					&:active {
						color: white;
					}
				}
				&.active {
					a {
						color: white;
						background: transparent;
						&:hover,
						&:focus,
						&:active {
							color: white;
							background: transparent;
						}
					}
				}
			}
		}
		.navbar-toggle {
			//background-color: black;
			color: white;
			text-transform: uppercase;
			font-size: 10px;
			border-color: white;
			&:hover,
			&:focus {
				background-color: transparent;
				color: @theme-success;
				border-color: @theme-success;
			}
		}
	}
	/* about--------------------------------------------------------------------------- */

	section.about {
		background:black;
		color: white;

		padding-bottom: 2.9rem;
		h2{
			margin-top:6rem;
			padding-bottom: 2rem;
		}
		p{
			padding-bottom: 2rem;
		}
	}
	section {
		padding: 100px 0;
		h2 {
			margin: 0;
			font-size: 3em;
		}
	}
	.treebox{
		position: relative;
		.trees {
			max-height: 500px;
			position :absolute;
			background-size:cover;
			top:-35rem;
			width: 100%;
		}
		.trees3 {

			opacity:0;
			position:absolute;
		}
	}


	@media(max-width:767px) {
		.navbar-custom {
			padding: 25px 0;
			.navbar-collapse{
				background-color:#C6C8C5;
				padding-bottom:4rem;
			}
		}
		section {
			padding: 75px 0;
		}
		section.first {
			padding-top: 75px;
		}
		.treebox{
			position: relative;
			.trees {
				max-height: 500px;
				position :absolute;
				background-image: url("../img/tree4.png");
				background-size:cover;
				top:-18rem;
				width: 100%;
			}
		}

	}

	@media(min-width:768px) {

		.navbar-custom {
			-webkit-transition: all 1s ease-in;  
			-moz-transition: all 1s ease-in; 
			-o-transition: all 1s ease-in;  
			transition: all 1s ease-in; 
			background-color:transparent;
			padding: 25px 0;
			-webkit-transition: padding 0.3s;
			-moz-transition: padding 0.3s;
			transition: padding 0.3s;
			.navbar-brand {
				font-size: 2em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		.navbar-custom.affix {
			padding: 10px 0;
			.navbar-brand {
				font-size: 1.5em;
			}
		}
		.treebox{
			position: relative;
			.trees {
				max-height: 700px;
				position :absolute;
				background-size:cover;
				top:-26rem;
				width: 100%;
			}
		}
	}


	@media(min-width:1400px) {
		.treebox{
			position: relative;
			.trees {
				display: none;
			}
			.trees3 {
				opacity:1;
				max-height: 700px;
				position :absolute;
				background-size:contain;
				top:-37rem;
				width: 100%;
			}
		}
	}

	@media(min-width:1940px) {
		header{
			background-image: url("../img/fondlg.png");
		}

		.treebox{
		//z-index: 100;
		position: relative;
		.trees {
			max-height: 850px;
			position :absolute;
			background-size:contain;
			top:40rem;
			width: 100%;
		}


	}

}

.angle{
	background-color:white;
	width:100%;
	height: 10rem;
	top:5px;
	.triangle
	{
		width: 0;
		height: 0;
		border-left: 100vw solid black;
		border-bottom: 100px solid transparent;

	}
}
/* --------------------------portfolio---------------------------------------------------------------- */


#portfolio {
	height: auto;
	width: 100%;
	text-align:center;
	position:relative;
	text-align:center;
	.tree_logo{
		position: absolute;
		width:90px;
		height: auto;
		right: 29rem;
		left:0;
		margin-right: auto;
		margin-left: auto;
		top:-7rem;
	}
	.tree_logo2{
		position: absolute;
		width:90px;
		height: auto;
		right: 49rem;
		left:16.7rem;
		margin-right: auto;
		margin-left: 15rem;;
		top:-7rem;
	}
	.tree_logo3{
		position: absolute;
		width:90px;
		right: 40rem;
		left:19.8rem;
		margin-right: auto;
		margin-left: auto;
		margin-top:-7rem;
	}
	.portfolio-item {
		margin: 0 0 15px;
		right: 0;
		display:flex;
		position:relative;
		padding-bottom:6rem;
		.project__title{ 
			position:absolute;
			margin: auto;
			right: 0;
			left:0;
			top:5rem;
			bottom:0;
			transform: translateZ(100px);
			text-align:center;
			color:white;
			outline:none;
			&hover{
				text-decoration:none;
				
			}
			
		}
		.project__tech{
			position:absolute;
			margin: auto;
			right: 0;
			left:0;
			top:8rem;
			bottom:0;
			transform: translateZ(50px);
			text-align:center;
			color:white;
			//display: block;
			outline:none;
			&hover{
				text-decoration:none;
				
			}
		}
		.portfolio-link {
			display: block;
			position: relative;
			max-width: 400px;
			margin: 0 auto;
			
		}
	}
	* {
		//z-index: 2;
	}
}

@media(min-width:767px) {
	#portfolio {
		.portfolio-item {
			margin: 0 0 20px;
		}
		// .tree_logo2{
		// 	position: absolute;
		// 	width:90px;
		// 	height: auto;
		// 	right: 49rem;
		// 	left:6.7rem;
		// 	margin-right: auto;
		// 	margin-left: 15rem;;
		// 	top:-7rem;
		// }
	}
}

.floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid @gray-lighter;
	input,
	textarea {
		z-index: 1;
		position: relative;
		padding-right: 0;
		padding-left: 0;
		border: none;
		border-radius: 0;
		font-size: 1.5em;
		background: none;
		box-shadow: none !important;
		resize: none;
	}
	label {
		display: block;
		z-index: 0;
		position: relative;
		top: 2em;
		margin: 0;
		font-size: 0.85em;
		line-height: 1.764705882em;
		vertical-align: middle;
		vertical-align: baseline;
		opacity: 0;
		-webkit-transition: top 0.3s ease,opacity 0.3s ease;
		-moz-transition: top 0.3s ease,opacity 0.3s ease;
		-ms-transition: top 0.3s ease,opacity 0.3s ease;
		transition: top 0.3s ease,opacity 0.3s ease;
	}
	&:not(:first-child) {
		padding-left: 14px;
		border-left: 1px solid @gray-lighter;
	}
}

.floating-label-form-group-with-value {
	label {
		top: 0;
		opacity: 1;
	}
}

.floating-label-form-group-with-focus {
	label {
		color: @theme-success;
	}
}

form .row:first-child .floating-label-form-group {
	border-top: 1px solid @gray-lighter;
}

footer {
	height:32.5rem;
	max-width: 100%;
	color: white;
	background-color: black;
	text-align: center;

	.making_off{
		p{

			font-size:1.4rem;
			margin:0;
			padding-bottom:2rem;
		}

	}
	.list-inline{
		left:0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		padding-bottom:0.6rem;
		.tooltip {
			background-color: transparent;
			

		}
		.tooltip-inner {
			background-color: #00acd6 !important;
			color: #fff;
		}

		.tooltip.bottom .tooltip-arrow {
			border-bottom-color: #00acd6;
		}
	}
	
	h3 {
		margin-bottom: 30px;
	}
	
	
	.footer-below {
		height: 10rem;
		width: 100%;
		background-color: #2d3b57;
		bottom: 0;
		.col-lg-12{
			//position:absolute;
			bottom:-4rem;
		}
	}
}

// Buttons

.btn-outline {
	color: white;
	font-size: 20px;
	border: solid 2px white;
	background: transparent;
	transition: all 0.3s ease-in-out;
	margin-top: 15px;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: @theme-success;
		background: white;
		border: solid 2px white;
	}
}

.btn-primary {
	.button-variant(white; @theme-primary; @theme-primary);
	font-weight: 700;
}

/* .btn-success {
	.button-variant(white; @theme-success; @theme-success);
	font-weight: 700;
	} */

	.btn-social {
		display: inline-block;
		height: 50px;
		width: 50px;
		border: 2px solid white;
		border-radius: 100%;
		text-align: center;
		font-size: 20px;
		line-height: 45px;
	}

	.btn:focus,
	.btn:active,
	.btn.active {
		outline: none;
	}

	.scroll-top {
		position: fixed;
		right: 2%;
		bottom: 2%;
		width: 50px;
		height: 50px;
		z-index: 1049;
		.btn {
			font-size: 20px;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			line-height: 28px;
			&:focus {
				outline: none;
			}
		}
	}
	/* -------------------------------------------------------------modals---------------------------------------------- */
	
	.fade {
		opacity: 0.75;
		background-color: #000;
	}
	#myModal{
		
		overflow-y: auto !important 
	}
	.portfolio-modal {

			//overflow-y: visible !important
			.modal-content {
				overflow-y: auto !important ;
				border-radius: 0;
			//transparency border
			background-clip: border-box;
			background-color:white;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			min-height: 100%;
			padding: 80px 0;
			text-align: center;
			h2 {
				margin: 0;
				font-size: 2em;
			}
			img {
				margin-bottom: 10px;
			}
			.item-details {
				margin: 30px 0;
			}
		}
		.close-modal {

			position: absolute;
			width:45px;
			height:45px;
			background-color:transparent;
			top: 25px;
			right: 25px;
			cursor: pointer;
			&:hover {
				opacity: 0.3;
			}
			.lr {

				height:35px;
				width:1px;
				margin-left:35px;
				background-color:@theme-primary;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-webkit-transform: rotate(45deg);
				/* Safari and Chrome */
				z-index:1051;
				.rl {
					height:35px;
					width:1px;
					background-color:@theme-primary;
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					/* IE 9 */
					-webkit-transform: rotate(90deg);
					/* Safari and Chrome */
					z-index:1052;
				}
			}
		}
		.modal-backdrop {
			z-index: -1;
			opacity: 0;
			display: none;
		}
	}
